.enviroments {
  padding-top: 178px;
  padding-bottom: 160px;

  &__container {
    display: flex;
    justify-content: space-around;
  }

  &__content {
    padding-top: 60px;
    max-width: 650px;
  }

  &__subsubtitle {
    margin-bottom: 8px;
  }

  &__descr {
    margin-bottom: 150px;
  }

  &__btn {
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 114.285714%;
    /* 16/14 */
    color: var(--color-rangoon);
    border-radius: 10.5px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);

    &--orange {
      background-color: var(--color-cheese);
    }

    &--pink {
      background-color: #FFB0AE;;
    }

    &:not(:last-child){
      margin-right: 16px;
    }
  }

  &__image {
    img {
      border-radius: 20px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    }
  }
}
