.remote {
  padding-top: 177px;

  &__subtitle {
    margin-bottom: 47px;
  }

  &__image {
    margin: 0 auto;
    margin-bottom: 49px;
    border-radius: 14px;
    box-shadow: -2px 2px 15px 8px rgba(255, 138, 0, 0.40);
  }

  &__descr {
    margin: 0 auto;
    margin-bottom: 45px;
    max-width: 880px;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  &__link {
    @include flex-all-center;

    gap: 10px;
    width: 207px;
    position: relative;
    padding: 8px 0;
    z-index: 100;
    cursor: pointer;
    color: var(--color-rangoon);
    font-size: 18px;
    font-weight: 700;
    line-height: 177%;
    /* 31.86/18 */
    background-color: var(--color-light);
    border: 1px solid #000;
    box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.10);

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--color-light);
      z-index: -1;
    }

    //the 101% is because of a pixel rounding issue in firefox
    &::before {
      width: calc(100% - 8px);
      height: calc(100% + (1px * 2));
      top: -1px;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      height: calc(100% - 8px);
      width: calc(100% + (1px * 2));
      left: -1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}
