<section class="enviroments">
  <div class="container enviroments__container">
    <div class="enviroments__content">
      <h3 class="subsubtitle enviroments__subsubtitle">Think CI/CD for dev environments</h3>
      <p class="descr enviroments__descr">We invented prebuilds so application code, configuration and infrastructure
        can all be stored as machine-executable code
        in your git repositories and applied to dev environments automatically and continuously.</p>
      <button class="enviroments__btn btn-reset enviroments__btn--orange">More on prebuilds</button>
      <button class="enviroments__btn btn-reset enviroments__btn--pink">Documentation</button>

    </div>
    <div class="enviroments__image">
      <img src="img/enviroments-image.jpg" alt="terminal with gitpod workspace">
    </div>
  </div>
</section>
