<footer class="footer">
  <div class="footer-top">
    <div class="container footer__container footer__container--line ">
      <ul class="footer-top__lis list-reset">
        <li class="footer-top__item">
          <span class="footer-top__title">Gitpod</span>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Home</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Features</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Pricing</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Changelog</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Self-Hosted</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Gitpod vs GitHub</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Codespaces</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Status</a>
        </li>
      </ul>

      <ul class="footer-top__lis list-reset">
        <li class="footer-top__item">
          <span class="footer-top__title">Developer</span>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Getting started</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Screencasts</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Blog</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Documentation</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Report a bug</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Community</a>
        </li>
      </ul>

      <ul class="footer-top__lis list-reset">
        <li class="footer-top__item">
          <span class="footer-top__title">Company</span>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">About</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Careers</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Contact</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Media Kit</a>
        </li>
      </ul>

      <ul class="footer-top__lis list-reset">
        <li class="footer-top__item">
          <span class="footer-top__title">Legal</span>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Imprint</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Terms of Service</a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__link" href="#">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container footer__container">
      <div class="footer-bottom__copy">
        <img class="footer-bottom__logo" src="img/footer-logo.svg" alt="gitpod logo">
        <span class="footer-bottom__caption">Copyright &copy;&nbsp;2021 Gitpod</span>
      </div>
      <div class="footer-bottom__socials">
        <a class="footer-bottom__link" href="#">
          <img class="footer-bottom__image" src="img/footer-logo-1.svg" alt="twitter logo">
        </a>
        <a class="footer-bottom__link" href="#">
          <img class="footer-bottom__image" src="img/footer-logo-2.svg" alt="github logo">
        </a>

        <a class="footer-bottom__link" href="#">
          <img class="footer-bottom__image" src="img/footer-logo-3.svg" alt="logo">
        </a>

      </div>
    </div>
  </div>
</footer>
