<footer class="footer">
  <div class="container footer__container">
    <ul class="list-reset footer__list">
      <li class="footer__item">
        <h3 class="subtitle footer__subtitle">Pages</h3>
      </li>
      <li class="footer__item">
        <a class="link footer__link">Eleanor Edwards</a>
      </li>
      <li class="footer__item">
        <a class="link footer__link">Ted Robertson</a>
      </li>
      <li class="footer__item">
        <a class="link footer__link">Annette Russell</a>
      </li>
      <li class="footer__item">
        <a class="link footer__link">Jennie Mckinney</a>
      </li>
      <li class="footer__item">
        <a class="link footer__link">Gloria Richards</a>
      </li>
    </ul>
    <img class="footer__image" src="img/map.jpg" alt="map">
    <div class="contacts footer__contacts contacts--footer">
      <span class="contacts__caption">6386 Spring St undefined Anchorage, Georgia 12473 United States</span>
      <a class="contacts__link contacts__link--phone" href="tel:8435550130">(843) 555-0130</a>
      <a class="contacts__link contacts__link--mail"
        href="mailto:willie.jennings@example.com">willie.jennings@example.com</a>
      <div class="social social--footer">
        <svg class="social__icon">
          <use xlink:href="img/sprite.svg#twitter"></use>
        </svg>
        <svg class="social__icon">
          <use xlink:href="img/sprite.svg#facebook"></use>
        </svg>
        <svg class="social__icon">
          <use xlink:href="img/sprite.svg#linkedin"></use>
        </svg>
      </div>
    </div>
  </div>
</footer>