<section class="get-started">
  <div class="container">
    <h2 class="subtitle centered get-started__subtitle">Get started now</h2>
    <div class="get-started__cards">
      <div class="get-started__card">
        <h3 class="subsubtitle centered get-started__subsubtitle">Connect Git repository</h3>
        <p class="descr centered get-started__descr">
          Select a Git provider to start with an existing project from any Git context.
        </p>
        <button class="get-started__btn get-started__btn--gitlab btn-reset">Continue with GitLab</button>
        <button class="get-started__btn get-started__btn--github btn-reset">Continue with GitHub</button>
        <button class="get-started__btn get-started__btn--bitbucket btn-reset">Continue with Bitbucket</button>
        <p class="descr centered get-started__descr">
          Or prefix any GitLab, GitHub or Bitbucket URL with
        </p>
        <span class="descr get-started__descr get-started__descr--bg-peach centered" href="#">gitpod.io/#</span>
      </div>
      <div class="get-started__card">
        <h3 class="subsubtitle centered get-started__subsubtitle">Launch an example workspace</h3>
        <p class="descr centered get-started__descr">
          Dive into one of our example workspaces
        </p>
        <div class="get-started__item get-started__item--ts">
          <span class="get-started__caption get-started__caption--ts">Node or TypeScript</span>
          <a class="get-started__link" href="#">Launch workspace</a>
        </div>
        <div class="get-started__item get-started__item--python">
          <span class="get-started__caption">Python</span>
          <a class="get-started__link" href="#">Launch workspace</a>
        </div>
        <div class="get-started__item get-started__item--go">
          <span class="get-started__caption">Go</span>
          <a class="get-started__link" href="#">Launch workspace</a>
        </div>
        <div class="get-started__item get-started__item--rust">
          <span class="get-started__caption">Rust</span>
          <a class="get-started__link" href="#">Launch workspace</a>
        </div>
        <div class="get-started__item get-started__item--java">
          <span class="get-started__caption">Java</span>
          <a class="get-started__link" href="#">Launch workspace</a>
        </div>
        <div class="get-started__item get-started__item--svelte">
          <span class="get-started__caption">Svelte</span>
          <a class="get-started__link" href="#">Launch workspace</a>
        </div>
      </div>
    </div>
  </div>
</section>
