<header class="header" id="home">
  <div class="container header__container">
    <a class="logo" href="#">
      <img src="img/logo.png" alt="logo">
    </a>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="link link--light nav__link smooth-scroll-link" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="link link--light nav__link smooth-scroll-link" href="#product">Product</a>
        </li>
        <li class="nav__item">
          <a class="link link--light nav__link smooth-scroll-link" href="#pricing">Pricing</a>
        </li>
        <li class="nav__item">
          <a class="link link--light nav__link smooth-scroll-link" href="#about">About</a>
        </li>
        <li class="nav__item">
          <a class="link link--light nav__link smooth-scroll-link" href="#contacts">Contact</a>
        </li>
      </ul>
      <div class="subscribe--nav">
        <input class="subscribe__input" name="email" type="text" placeholder="Your Email">
        <button class="btn btn-reset subscribe__btn btn--light-lemonade btn--thin-text">Subscribe</button>
      </div>
    </nav>
    <div class="subscribe">
      <input class="subscribe__input" name="email" type="text" placeholder="Your Email">
      <button class="btn btn-reset subscribe__btn btn--light-lemonade btn--thin-text">Subscribe</button>
    </div>
  </div>
  <button class="burger btn-reset">
    <span class="burger__line"></span>
  </button>
</header>