<header class="header">
  <div class="container header__container">
    <a class="header__logo-link" href="#"><img class="header__logo" src="img/logo.svg" alt="logo"></a>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__link" href="#">Features</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Pricing</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Blog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Docs</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Changelog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">We're hiring</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn btn-reset">Login</button>
  </div>

</header>
