<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="title hero__title">
        Always<br>
        Ready to Code.
      </h1>
      <p class="hero__descr descr">
        Spin up fresh, automated dev environments for each task, in the cloud, in seconds.
      </p>
      <div class="hero__btn-wrapper">
        <button class="btn-reset hero__btn" aria-label="try product">Try Now</button>
        <span class="hero__caption">Open a workspace.<br>Start from any Git context.</span>
      </div>
      <div class="hero__sprites">
        <svg class="hero__sprite">
          <use xlink:href="img/sprite.svg#gitlab"></use>
        </svg>
        <svg class="hero__sprite">
          <use xlink:href="img/sprite.svg#github"></use>
        </svg>
        <svg class="hero__sprite">
          <use xlink:href="img/sprite.svg#bitbucket"></use>
        </svg>
      </div>
    </div>
    <div class="hero__image">
      <img class="hero__img" src="/img/hero-image.png" alt="Work space">
    </div>
  </div>
</section>
