<section class="remote">
  <div class="container remote__container">
    <h2 class="subtitle remote__subtitle centered">Remote-first. Secure by design.</h2>
    <img class="remote__image" src="img/remote-image.jpg" alt="vscode workspace">
    <p class="descr remote__descr centered">
      You no&nbsp;longer need an&nbsp;over-powered laptop to&nbsp;code, Gitpod works just as&nbsp;smoothly
      on&nbsp;a&nbsp;Chromebook or&nbsp;iPad. All you need is&nbsp;a&nbsp;browser. Gitpod centralizes all source code
      and
      never stores it&nbsp;on&nbsp;insecure machines and networks.
    </p>
    <div class="remote__links">
      <a class="remote__link" href="#">
        <img src="img/chrome.svg" alt="chrome icon">
        Chrome Extension
      </a>
      <a class="remote__link" href="#">
        <img src="img/firefox.svg" alt="firefox icon">
        Firefox Extension
      </a>
    </div>
  </div>
</section>
