<section class="testimonials">
  <div class="container">
    <h2 class="subtitle testimonials__title centered">Used by 400,000+ developers.</h2>
    <div class="testimonials__swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="testimonials-item">
            <p class="testimonials-item__text">
              GitPod is incredibly cool. In my opinion, this is a big step in open source software contribution. I'm
              excited to see where we go from here.</p>
            <div class="testimonials-item__author">
              <img class="testimonials-item__image" src="./img/testimonials-author1.jpg" alt="Testimonial author photo">
              <div class="testimonials-item__about">
                <span class="testimonials-item__name">Ben Halpern</span>
                <span class="testimonials-item__position">Creator and Co-founder <b>@forem</b> and
                  <b>@ThePracticalDev</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials-item">
            <p class="testimonials-item__text">GitPod is incredibly cool. In my opinion, this is a big step in open
              source
              software contribution. I'm excited to see where we go from here.</p>
            <div class="testimonials-item__author">
              <img class="testimonials-item__image" src="./img/testimonials-author1.jpg" alt="Testimonial author photo">
              <div class="testimonials-item__about">
                <span class="testimonials-item__name">Ben Halpern</span>
                <span class="testimonials-item__position">Creator and Co-founder <b>@forem</b> and
                  <b>@ThePracticalDev</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials-item">
            <p class="testimonials-item__text">GitPod is incredibly cool. In my opinion, this is a big step in open
              source
              software contribution. I'm excited to see where we go from here.</p>
            <div class="testimonials-item__author">
              <img class="testimonials-item__image" src="./img/testimonials-author1.jpg" alt="Testimonial author photo">
              <div class="testimonials-item__about">
                <span class="testimonials-item__name">Ben Halpern</span>
                <span class="testimonials-item__position">Creator and Co-founder <b>@forem</b> and
                  <b>@ThePracticalDev</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials-item">
            <p class="testimonials-item__text">GitPod is incredibly cool. In my opinion, this is a big step in open
              source
              software contribution. I'm excited to see where we go from here.</p>
            <div class="testimonials-item__author">
              <img class="testimonials-item__image" src="./img/testimonials-author1.jpg" alt="Testimonial author photo">
              <div class="testimonials-item__about">
                <span class="testimonials-item__name">Ben Halpern</span>
                <span class="testimonials-item__position">Creator and Co-founder <b>@forem</b> and
                  <b>@ThePracticalDev</b></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="testimonials__logos">
      <img src="/img/testimonials-logo-1.svg" alt="gitlab logo">
      <img src="/img/testimonials-logo-2.svg" alt="freecodecamp logo">
      <img src="/img/testimonials-logo-3.svg" alt="d wave logo">
      <img src="/img/testimonials-logo-4.svg" alt="google logo">
      <img src="/img/testimonials-logo-5.svg" alt="amazon logo">
      <img src="/img/testimonials-logo-6.svg" alt="facebook logo">
      <img src="/img/testimonials-logo-7.svg" alt="uber logo">
      <img src="/img/testimonials-logo-8.svg" alt="openai logo">
      <img src="/img/testimonials-logo-9.svg" alt="intel logo">
      <img src="/img/testimonials-logo-10.svg" alt="theia logo">
      <img src="/img/testimonials-logo-11.svg" alt="code institute logo">
      <img src="/img/testimonials-logo-12.png" alt="4 geeks academy logo">
    </div>
  </div>
</section>
