// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Roboto", sans-serif;
  --content-width: 1376px;
  --container-offset: 32px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-light: #fff;
  --color-rangoon: #12100c;
  --color-alabaster: #f9f9f9;
  --color-chicago: #565452;


}
